h1 
{
    color:gold;
    font-size    : 4em;
    margin-bottom: .5em;
}

h2
{
    color:dimgray;
    font-size    : 3em;
    margin-bottom: 1.3em;
}

p
{
    border:2px solid chartreuse;
    color:dimgray;
    font-size  : 1.5em;
    font-weight: 300;
    line-height: 1.6em;
    max-width  : 600px;    
}
